<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/_head %>
</head>

<body>
    <% include partials/_navbar %>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h2 class="h1">Objetivo general</h2>
                <p>Desarrollar un módulo web de un banco para el registro de transacciones de pago entre pequeñas compañías de manera automatizada con un bot RPA, que valida los montos de transacción lo que garantiza la legitimidad de esta.</p>
            </div>
            <div class="col-md-6 col-sm-12">
                    <h2 class="h1">Objetivos especificos</h2>
                    <ul>
                        <li>Registrar las transacciones de pago entre compañías.</li>
                        <li>Automatizar el registro de transacciones.</li>
                        <li>Validar los montos de las transacciones.</li>
                    </ul>
            </div>
        </div>
    </div>
</body>

</html>